body {
    font-family: 'Courier New', sans-serif;
    background-color: rgb(27, 27, 27);
    color: antiquewhite;
}

nav.navBar {
    margin: 1%;
    font-size: 1%;
}

a.home {
    margin-right: 1%;
    color: antiquewhite;
}

a.resume {
    margin-right: 1%;
    color: antiquewhite;
}

a.projects {
    margin-right: 1%;
    color: antiquewhite;
}

h1.resumeTitle {
    font-size: 400%;
    font-weight: 100;
    margin: 5%;
    text-align: center;
}

img#mainContent {
    display: block;
    margin-left: auto;
    margin-right: auto;
}