body {
    font-family: 'Courier New', sans-serif;
    background-color: rgb(27, 27, 27);
    color: antiquewhite;
}

nav.navBar {
    margin: 5%;
    font-size: 5%;
}

a.home {
    margin-right: 5%;
    color: antiquewhite;
}

a.resume {
    margin-right: 5%;
    color: antiquewhite;
}

a.projects {
    margin-right: 5%;
    color: antiquewhite;
}

main {
    margin-bottom: 5%;
}

h1.helloWorld {
    font-size: 400%;
    font-weight: 100;
    margin: 5%;
    text-align: center;
}

#mainContent {
    display: flex;
    flex-wrap: wrap;
}

#mainContent img {
    width: 15%;
    height: auto;
    margin-right: 5%;
}

#mainContent p {
flex: 1;
}

div.footer {
    display: flex;
    margin: auto;
}

a.gmail img {
    display: flex;
    width: 10%;
}

a.linkedin img {
    display: flex;
    width: 10%;
}

a.git img {
    display: flex;
    width: 10%;
}